/* .slideImage-container{
    margin-bottom: 15rem !important;
    height: 650px;
    background-image: linear-gradient(45deg, #fcf3a0, #111430);
} */

/* SlideImage.css */
/* .swiper-pagination {
    bottom: -20px; /* Moves the dots 20px down }
 */
